<form method="POST" action="/register" id="register">
 <div class="field">
   <label class="label">First Name</label>
   <div class="control">
     <input class="input" name="firstname" type="text" placeholder="First name" required>
   </div>
 </div>
 <div class="field">
   <label class="label">Last Name</label>
   <div class="control">
     <input class="input" name="lastname" type="text" placeholder="Last name" required>
   </div>
 </div>
 <div class="field">
   <label class="label">Profile Image</label>
   <div class="control">
     <input class="input" name="image" type="text" placeholder="Profile image" required>
   </div>
 </div>
 <div class="field">
   <label class="label">Email</label>
   <div class="control">
     <input class="input" name="email" type="text" placeholder="Email" required>
   </div>
 </div>
 <div class="field">
   <label class="label">Password</label>
   <div class="control">
     <input class="input" name="password" type="password" placeholder="Password" required>
   </div>
 </div>
 <div class="field">
   <label class="label">Confirm Password</label>
   <div class="control">
     <input class="input" name="passwordConfirmation" type="password" placeholder="Confirm Password" required>
   </div>
 </div>
 <div class="control">
   <button class="button is-primary">Register</button>
 </div>
</form>
