
<nav class="main-menu navbar"  >
  <div class="navbar-brand">
    <% if(locals.isAuthenticated){ %>
        <a class="navbar-item" href="/recipes"><%- include _logo-sm %></a>
      <% } else { %>
        <a class="navbar-item" href="/"><%- include _logo-sm %></a>
      <% }  %>

    <button class="menu button navbar-burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </button>

</div>

    </div>

    <div class="navbar-menu">
        <% if(!locals.isAuthenticated){ %>
          <a class="navbar-item" href="/recipes">Recipes</a>
          <a class="navbar-item" href="/blog">Blog</a>
          <a class="navbar-item" href="/about">About</a>
        <% } else { %>
          <a class="navbar-item" href="/recipes/new">New recipe</a>
          <a class="navbar-item" href="/recipes">Recipes</a>
          <a class="navbar-item" href="/blog">Blog</a>
          <a class="navbar-item" href="/about">About</a>
        <% }  %>


        <div class="navbar-end">
            <% if(!locals.isAuthenticated){ %>
            <% } else { %>
              <a class="navbar-item" href="/recipes"><span>Hey <%= locals.currentUser.firstname  %></span><img class="user-pic" src="<%= locals.currentUser.image %>"></a>
              <a class="navbar-item" href="/logout">Logout</a>
            <% }  %>
            </div>

      </div>





</nav>
