<div id="share">
  <!-- facebook -->
  <a class="facebook" href="https://www.facebook.com/" target="blank"><i class="fa fa-facebook"></i></a>

  <!-- twitter -->
  <a class="twitter" href="https://twitter.com/" target="blank"><i class="fa fa-twitter"></i></a>

  <!-- google plus -->
  <a class="googleplus" href="https://plus.google.com/" target="blank"><i class="fa fa-google-plus"></i></a>

  <!-- linkedin -->
  <a class="linkedin" href="https://www.linkedin.com/" target="blank"><i class="fa fa-linkedin"></i></a>

  <!-- pinterest -->
  <a class="pinterest" href="https://pinterest.com/" target="blank"><i class="fa fa-pinterest-p"></i></a>

</div>
