<div class="container container-home">
  <h1>ABOUT US</h1>
  <br>
<p> ~After  the global succes of THE SNAKESTEIN we decide to build platform for the growing of a compassionate and eco-conscious generation.</p>
<br>
<p> ~Our goal is to redefine “green,” because, well, the earth needs a media company that’s really got its back!</p>
<br><br>
<h2>Our Vision</h2>
<br>
<p> ~Our goal is to help create a world where we eat delicious food and use amazing products that provide us with maximum benefit and have minimum impact on the planet.</p>
<br>
<p> ~We plan to make this vision a reality by focusing on PEOPLE</p>
<br>
<p> ~Informing people about the downstream environmental impacts of their lifestyle habits and providing tools and resources that empower them to make better choices.(Check Recipes in the navigation bar)</p>
<br>

<p>~So, abandon your preconceived notions and labels. Together, let’s reimagine the way we eat, buy and think.</p>
<br><br>
</div>
