<h1>New</h1>


<div class="container">
  <form method="POST" action="/blog">
    <div class="field">
      <label class="label">Title</label>
      <div class="control">
        <input class="input" name="title" type="text" placeholder="Title"required>
      </div>
    </div>
    <div class="field">
      <label class="label">Subtitle</label>
      <div class="control">
        <input class="input" name="subtitle" type="text" placeholder="Subtitle"required>
      </div>
    </div>


    <div class="field">
      <label class="label">Image</label>
      <div class="control">
        <input class="input" name="image" type="text" placeholder="Image"required>
      </div>
    </div>

    <div class="field">
      <label class="label">Content</label>
      <div class="control">
        <textarea class="textarea" name="content" placeholder="Content"></textarea>
      </div>
    </div>

    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
  </form>
</div>
