<div class="container">
  <form method="POST" action="/recipes">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" name="name" type="text" placeholder="Name"required>
      </div>
    </div>
    <div class="field">
      <label class="label">Short descriptionn</label>
      <div class="control">
        <input class="input" name="description" type="text" placeholder="Description"required>
      </div>
    </div>

    <div class="field">
      <label class="label">Ingredients
      </label>
      <div class="field ingredients">
        <input class="input is-primary" type="text" name="ingredients[][qty]" value="">
        <select class="input is-primary" name="ingredients[][name]" multiple="multiple" required>
          <% ingredients.forEach(ingredient => { %>
            <option><%= ingredient %></option>
          <% }); %>
        </select>

      </div>

    </div>

    <div class="field">
      <label class="label">Image</label>
      <div class="control">
        <input class="input" name="image" type="text" placeholder="Image"required>
      </div>
    </div>

    <div class="field">
      <label class="label">Preparation</label>
      <div class="control">
        <%- include ../partials/_texteditor %>
        <textarea class="textarea" name="preparation" placeholder="Preparation"></textarea>
      </div>
    </div>

    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
  </form>
</div>
